<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>
  <% @users.each do |user| %>
      <div class="users-list-item">
        <%= link_to user_path(user) do %>
          <div class="user-image-div user-image-div-small" style="border-color: <%= user.color_border_img %>; background-image: url('<%= user_avatar(user) %>')"></div>
        <% end %>
      </div>
  <% end %>
  <div class="all-tags buffer-both">
    <% all_tags.each do |tag| %>
      <%= link_to tag.text, tag_path(tag) %>
    <% end %>
  </div>
</div>
